@charset "utf-8";

html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    /*position: relative;*/
}


h1 {
    margin: 0px;
    padding: 0px;
}

aside#adBlocos{
    display: none;
}

@font-face{
    font-family: bona nova;
    src: url(../fontes/bona_nova/Bona\ Nova\ Regular.otf);
}

div#container{
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 12.5% 100px 65% 22.5%;
}

header{
    grid-column: 1/4;
    grid-row: 1/1;
    background-color:  #ffd800;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 100%;
    min-height: 100%;
}

h1#navFisicalc{
    color: #fff;
    font-family: "bona nova";
    font-size: 2em; 
    margin: 20px 100px 20px 0;
    /*padding: 15px;
    text-align: right;
    margin-right: 60px;*/
}

aside#adBanner{
    grid-column: 2/3;
    grid-row: 2/3;
}

main{
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 4.5fr 1fr 2fr;
    grid-row-gap: 10px;

}

@media screen and (min-width: 992px){
    main{
        /*grid-column: 1/4;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;*/
        grid-template-rows: 6fr 1fr 120px 1fr;
        /*grid-row-gap: 10px;   */
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1336px){
    main{
        grid-template-rows: 6fr 1fr 120px 1%;       
    }
}


aside#bannerLateralEsquerdo {
    grid-column: 1/2;
    grid-row: 1/2;
}

aside#bannerLateralDireito {
    grid-column: 3/4;
    grid-row: 1/2;
}


section#calculos {
    grid-column: 2/3;
    grid-row: 1/2;
	background: #fcffe8;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 3px 3px 5px grey;
}

section#ajuda{
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

section#ajuda{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

button#btnAjuda{
    background-color: #F3D670;
    color: white;
    text-decoration: none;
    border: none;
    font-family: bona nova;
    font-size: 22px;
    width: 400px;
    height: 50px;
    cursor: pointer;
 
}

div#spcBtnFormulas {
    grid-row: 3/4;
    grid-column: 1/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 992px){
    div#spcBtnFormulas {
        grid-row: 3/4;
        grid-column: 2/3;
    }
}

/*@media screen and (max-width: 1478)
{
    div#spcBtnFormulas
    {
        max-width: 200px;
    }
}*/

.btnCategorias{
    border: none;
    color: white;
    height: 50px;
    width: 130px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: bona nova;
    font-size: 14px;
    cursor: pointer;    
    border-radius: 5px;
    margin: 4px;
}

button#btnCinematica{
    background-color: #20C826;
}

button#btnDinamica{
    background-color: #EE1717;
}

button#btnEletrica {
    background-color: rgb(247, 200, 12);
}

button#btnEletrostatica{
    background-color: 	rgb(92, 51, 204);
}   

button#btnEletromagnetismo{
    background-color: #695179;
}

button#btnEstatica{
    background-color: rgb(1, 189, 95);
}

button#btnFisicaDosGases{
    background-color: #6699CC;
}

button#btnFisicaModerna{
    background-color: #CC33FF;
}

button#btnGravitacao{
    background-color: #3333CC;
}

button#btnHidrostatica{
    background-color: #3399FF;
}

button#btnOndulatoria{
    background-color: #9966CC;
}

button#btnOptica {
    background-color: slategray;
}

button#btnTermologia{
    background-color: #FF6600;
}

footer{
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    background-color: #ccaa3f;
    margin-top: 10px;
    grid-column: 1/4;
    grid-row: 4/5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContent{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2),0 6px 20px rgb(0,0,0,0.19);
    -webkit-animation-name: animateTop;
    -webkit-animation-duration: 0.4s;
    animation-name: animateTop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animateTop {
    from {top: -300px; opacity:0}
    to {top: 0; opacity: 1;}
}

@keyframes animateTop{
    from {top: -300px; opacity:0}
    to {top: 0; opacity: 1;}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

  .close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalHeader {
    padding: 2px 16px;
    background-color: #20C826;
    color: white;
}

.modalBody{
    padding: 2px 16px;
    margin-bottom: 10px;
}
