@charset "utf-8";

html, body, h1{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
}

@font-face{
    font-family: bona nova;
    src: url(../fontes/bona_nova/Bona\ Nova\ Regular.otf);
}

#container{
    display: grid;
    display: flexbox;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 10vh 10vh 65vh 15vh;

}

header{
    grid-column: 1/4;
    grid-row: 1/1;
    background-color:  #ffd800;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav{

}

h1#navFisicalc{
    color: #fff;
    font-family: "bona nova";
    font-size: 2em; 
    margin-right: 100px;
    /*padding: 15px;
    text-align: right;
    margin-right: 60px;*/
}

aside#adBanner{
    grid-column: 2/3;
    grid-row: 2/3;
}

main{
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

article#principal {
    display: flexbox;
}

aside#bannerLateralEsquerdo {
    grid-column: 1/2;
}

aside#bannerLateralDireito {
    grid-column: 3/4;
}

section#calculos {
    grid-column: 2/3;
    height: 450px;
    margin: 50px;
	background: #fcffe8;
	text-align: center;
    font-size: 1.5em;
    box-shadow: 3px 3px 5px grey;

}

footer{
    background-color: #ccaa3f;
    grid-column: 1/4;
    grid-row: 4/5;
    display: flex;
    align-self: auto;
}